Repository rzyns/temporal-fns: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm exec biome format --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec biome check {staged_files}

0.1.3
  package.json
Due: format

Fix tsconfigs
  .vscode/settings.json
  package.json
  tsconfig.json
  tsconfig.src.json
  tsconfig.test.json
Due: format

0.1.4
  package.json
Due: format

Fix typecheck errors
  src/eachDayOfInterval/index.test.ts
  src/eachMonthOfInterval/index.test.ts
  src/eachWeekOfInterval/index.test.ts
  src/eachYearOfInterval/index.test.ts
Due: format, lint

0.1.5
  package.json
Due: format

feat(pipe): implement pipe utility with overloads up to arity 10
  src/index.ts
  src/pipe/index.ts
Due: format, lint

test(pipe): add runtime tests for pipe utility
  src/pipe/index.test.ts
Due: format, lint

test(pipe): add type-level tests; establish _typeTests convention
  src/_typeTests/pipe.test-d.ts
  tsconfig.src.json
Due: format, lint

docs(pipe): add README section with before/after pipe example
  README.md
Due: none

feat(coerce): add TemporalInput type and implement coerce() with full dispatch
  src/coerce/index.ts
  src/index.ts
  src/types.ts
Due: format, lint

test(coerce): add runtime tests covering all input types and both overloads
  src/coerce/index.test.ts
Due: format, lint

test(coerce): add type-level tests for coerce() overload resolution
  src/_typeTests/coerce.test-d.ts
Due: format, lint

docs(coerce): add README section for coerce() with real-world examples
  README.md
Due: none

feat(types): add AnyTemporalComparable type
  src/index.ts
  src/types.ts
Due: format, lint

feat(compare): extend compareAsc/compareDesc/isAfter/isBefore/isEqual to accept Temporal.Instant
  src/compareAsc/index.ts
  src/compareDesc/index.ts
  src/isAfter/index.ts
  src/isBefore/index.ts
  src/isEqual/index.ts
Due: format, lint

feat(compare): extend differenceInMilliseconds, min, max, clamp, closestTo, closestIndexTo to accept Temporal.Instant
  src/clamp/index.ts
  src/closestIndexTo/index.ts
  src/closestTo/index.ts
  src/differenceInMilliseconds/index.ts
  src/max/index.ts
  src/min/index.ts
Due: format, lint

test(compare): runtime and type-level tests for Temporal.Instant support
  src/_typeTests/instant-comparison.test-d.ts
  src/clamp/index.test.ts
  src/closestIndexTo/index.test.ts
  src/closestTo/index.test.ts
  src/compareAsc/index.test.ts
  src/compareDesc/index.test.ts
  src/differenceInMilliseconds/index.test.ts
  src/isAfter/index.test.ts
  src/isBefore/index.test.ts
  src/isEqual/index.test.ts
  src/max/index.test.ts
  src/min/index.test.ts
Due: format, lint

docs(compare): README section for AnyTemporalComparable and Instant support
  README.md
Due: none

chore: bump version to 0.4.0
  package.json
Due: format

feat(timezone): implement toTimeZone() for Instant, ZonedDateTime, and PlainDateTime
  src/index.ts
  src/toTimeZone/index.ts
Due: format, lint

feat(timezone): implement toLocal() delegating to toTimeZone with ClockProvider
  src/index.ts
  src/toLocal/index.ts
Due: format, lint

test(timezone): runtime and type-level tests for toTimeZone() and toLocal()
  src/_typeTests/timezone-conversion.test-d.ts
  src/toLocal/index.test.ts
  src/toTimeZone/index.test.ts
Due: format, lint

docs(timezone): README section for toTimeZone() and toLocal()
  README.md
Due: none

feat(timezone): toTimeZone() and toLocal() convenience functions (v0.5.0) (#27)
  README.md
  src/_typeTests/timezone-conversion.test-d.ts
  src/index.ts
  src/toLocal/index.test.ts
  src/toLocal/index.ts
  src/toTimeZone/index.test.ts
  src/toTimeZone/index.ts
Due: format, lint

chore: bump version to 0.5.0
  package.json
Due: format

refactor(types): introduce TemporalOf<T> conditional type and withDate internal helper
  src/_lib/temporalOf.ts
Due: format, lint

chore: bump version to 0.6.0
  package.json
Due: format

Path conditions:
  format: any of: *.{ts,js,json,jsonc}
  lint: any of: *.{ts,js}
